<!DOCTYPE html>
<html lang="{{ site.Language.Locale | default "en" }}">
{{ partial "head.html" . }}
<body>
<section class="main">
{{ partial "menu.html" . }}

{{ $cover := .Params.cover | default site.Params.indexCover }}

<header class="intro-header" style="background-image: url('{{ $cover | relURL }}')">
    <div class="blog-container">
        <div class="blog-row">
            <div class="blog-content">
                <div class="post-heading">
                    <h1>{{ .Title | default "Contact Us!" }}</h1>
                    <span class="meta"></span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="blog-container">
        <div class="blog-row">
            <div class="blog-content">
                {{ .Content }}
            </div>

            <div class="blog-content">
                <hr>
                {{ partial "contact-form.html" . }}
            </div>
        </div>
    </div>
</article>
</section>
</body>
</html>
