<!DOCTYPE html>
<html lang="{{ site.Language.Locale | default "en" }}">
{{ partial "head.html" . }}
<body>
<section class="main">
{{ partial "menu.html" . }}

{{ $cover := .Params.cover | default site.Params.indexCover }}

<header class="intro-header" style="background-image: url('{{ $cover | relURL }}')">
    <div class="blog-container">
        <div class="blog-row">
            <div class="blog-content">
                <div class="post-heading">
                    <h1>{{ .Title | default "Untitled" }}</h1>
                    {{ with .Params.subtitle }}
                    <h2 class="post-subheading">
                        {{ . }}
                    </h2>
                    {{ end }}
                    <span class="meta">
                        {{ with .Params.author }}
                            {{ . }}
                            <br>
                        {{ end }}
                        {{ if not .Date.IsZero }}
                            {{ .Date.Format "2006-01-02" }}
                        {{ end }}
                    </span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="blog-container">
        <div class="blog-row">
            {{ if or (.GetTerms "tags") (.GetTerms "categories") }}
                <div class="post-taxonomy-row">
                    {{ with .GetTerms "tags" }}
                        {{ range . }}<a href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a> {{ end }}
                    {{ else }}
                        {{ range .GetTerms "categories" }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> {{ end }}
                    {{ end }}
                    {{ if and (.GetTerms "tags") (.GetTerms "categories") }}
                        {{ range .GetTerms "categories" }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a> {{ end }}
                    {{ end }}
                </div>
            {{ end }}

            <div class="blog-content">
                {{ if or .Params.previous_post .Params.next_post }}
                    <nav class="post-nav" aria-label="Post navigation">
                        <div class="post-nav__item">
                            {{ with .Params.previous_post }}
                                <a href="{{ . }}">&lt;&lt; Previous Post</a>
                            {{ end }}
                        </div>
                        <div class="post-nav__item post-nav__item--next">
                            {{ with .Params.next_post }}
                                <a href="{{ . }}">Next Post &gt;&gt;</a>
                            {{ end }}
                        </div>
                    </nav>
                    <hr>
                {{ end }}

                {{ .Content }}
            </div>

            <div class="blog-content">
                <hr>
                {{ partial "author.html" . }}
            </div>
        </div>
    </div>
</article>
</section>
</body>
</html>
