<h3 id="_authors">Author</h3>
<div class="author-card">
    <div class="author-card__photo">
        <img src="/img/me.jpg" alt="Ryan Walker">
    </div>

    <div class="author-card__body">
        <h4>Ryan Walker</h4>
        <p>Building open source stuff with open source stuff.</p>

        <div class="author-links">
            <div class="author-links__column">
                <a class="author-link" href="https://shop.rootkitlabs.com"><img src="/img/shop.png" alt="">Our Shop</a>
                <a class="author-link" href="mailto:info@rootkitlabs.com"><img src="/img/email.png" alt="">Email</a>
                <a class="author-link" href="https://www.youtube.com/@rootkitlabs"><img src="/img/youtube.png" alt="">Youtube</a>
                <a class="author-link" href="https://github.com/o7-machinehum"><img src="/img/github.png" alt="">GitHub</a>
            </div>
            <div class="author-links__column">
                <a class="author-link" href="https://www.instagram.com/rootkitlabs/"><img src="/img/ig.jpg" alt="">Instagram</a>
                <a class="author-link" href="https://discord.gg/EtZT7mjNuM"><img src="/img/discord.png" alt="">Discord</a>
                <a class="author-link" href="https://twitter.com/machinehum"><img src="/img/twitter.png" alt="">Twitter</a>
                <a class="author-link" href="https://rootkitlabs.com/atom.xml"><img src="/img/rss.png" alt="">RSS Feed</a>
            </div>
        </div>
    </div>
</div>
