<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{ $description := "" }}
    {{ with .Description }}
        {{ $description = . }}
    {{ else with site.Params.description }}
        {{ $description = . }}
    {{ else with .Summary }}
        {{ $description = . | plainify | strings.TrimSpace | truncate 150 }}
    {{ else }}
        {{ $description = .Content | plainify | strings.TrimSpace | truncate 150 }}
    {{ end }}

    {{ with $description }}
        <meta name="description" content="{{ . }}">
        <meta property="og:description" content="{{ . }}">
    {{ end }}

    {{ with site.Params.author }}
        <meta name="author" content="{{ . }}">
    {{ end }}

    <meta property="og:title" content="{{ if .Title }}{{ .Title }}{{ else }}{{ site.Title }}{{ end }}">
    <meta property="og:site_name" content="{{ site.Title }}">
    <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">

    {{ $image := .Params.share_cover | default .Params.cover | default site.Params.indexCover }}
    {{ with $image }}
        <meta property="og:image" content="{{ . | absURL }}">
        <meta name="twitter:image" content="{{ . | absURL }}">
    {{ end }}
    <meta name="twitter:card" content="summary_large_image">

    <title>{{ if .Title }}{{ .Title }} - {{ end }}{{ site.Title }}</title>

    <link rel="stylesheet" href="{{ "css/fonts.css" | relURL }}">
    <link rel="stylesheet" href="{{ "css/style.css" | relURL }}">
    {{ partial "google-analytics.html" . }}

    {{ with site.Params.favicon }}
        <link rel="icon" href="{{ . | relURL }}">
    {{ end }}
    <link rel="alternate" href="{{ "atom.xml" | relURL }}" title="{{ site.Title }}" type="application/rss+xml">
</head>
