                </div>
            </div>
        </div>
    </section>

    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h1 class="display-1 display-1--light">Let's get in touch.</h1>
                <p>
                Planning a lab rollout, training program, resale project, or larger deployment? Reach out for availability, pricing, and logistics.
                </p>
            </div>
        </div>

        <div class="row contact-links-row">
            <div class="col-full">
                <ul class="contact-links" aria-label="Contact links">
                    <li>
                        <a href="mailto:info@rootkitlabs.com" aria-label="Email Rootkit Labs" title="Email Rootkit Labs"><i class="fas fa-envelope"></i></a>
                    </li>
                    <li>
                        <a href="https://www.youtube.com/@rootkitlabs" aria-label="Rootkit Labs on YouTube" title="YouTube"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/o7-machinehum" aria-label="Rootkit Labs on GitHub" title="GitHub"><i class="fab fa-github"></i></a>
                    </li>
                    <li>
                        <a href="https://discord.gg/EtZT7mjNuM" aria-label="Rootkit Labs on Discord" title="Discord"><i class="fab fa-discord"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/machinehum" aria-label="Rootkit Labs on Twitter" title="Twitter"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/rootkitlabs/" aria-label="Rootkit Labs on Instagram" title="Instagram"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://www.threads.net/@rootkitlabs" aria-label="Rootkit Labs on Threads" title="Threads"><i class="fas fa-at"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </section>


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
