<%
    var items = [];
    var title = '';
    var isTagIndex = page.type === 'tags' || page.type === 'tag';
    var isCategoryIndex = page.type === 'categories' || page.type === 'category';
    if (isTagIndex) {
        items = site.tags;
        title = __('tags');
    } else if (isCategoryIndex) {
        items = site.categories;
        title = __('categories');
    }
%>

<% if (page.type === 'contact'){ %>
    <section class="main">
        <%- partial('_partial/contact_full', {item: page}) %>
    </section>
<% } else { %>
    <section class="main">
        <%- partial('_partial/article-full', {item: page}) %>
    </section>
<% } %>
