<h3 id="_authors">Author</h3>
<div style = "display: flex;">
    <div>
        <img src="/img/me.jpg" style = "width: 350px;"/>
    </div>

    <div style="margin-left: 25px;">
        <h4>Ryan Walker</h3>
        <p style="font-weight: 400;">
            Building open source stuff with open source stuff. Operating a consulting company hit me up if you want something made.
        </p>

        <div style="display: flex;">
            <div style = "display: flex: 50%;">
                <div style="display: flex;    margin-top: 5px;    align-items: center;"><img src = "/img/email.png" style="width: 20px;padding-top: 0px;margin: 0px;"/> <a href="malto:info@interruptlabs.ca" style="margin-left: 15px;">Email</a></div>
                <div style="display: flex;    margin-top: 5px;    align-items: center;"><img src = "/img/github.png" style="width: 20px;padding-top: 0px;margin: 0px;"/> <a href="https://github.com/Machine-Hum" style="margin-left: 15px;">GitHub</a></div>
            </div>
            <div style = "display: flex: 50%; margin-left: 10px">
                <div style="display: flex;    margin-top: 5px;    align-items: center;"><img src = "/img/discord.png" style="width: 20px;padding-top: 0px;margin: 0px;"/> <a href="https://discord.gg/EtZT7mjNuM" style="margin-left: 15px;">Discord</a></div>
                <div style="display: flex;    margin-top: 5px;    align-items: center;"><img src = "/img/rss.png" style="width: 20px;padding-top: 0px;margin: 0px;"/> <a href="https://interruptlabs.ca/atom.xml" style="margin-left: 15px;">RSS Feed</a></div>
            </div>
            <div style = "display: flex: 50%; margin-left: 10px">
                <div style="display: flex;    margin-top: 5px;    align-items: center;"><img src = "/img/twitter.png" style="width: 20px;padding-top: 0px;margin: 0px;"/> <a href="https://twitter.com/machinehum" style="margin-left: 15px;">Twitter</a></div>
                <div style="display: flex;    margin-top: 5px;    align-items: center;"><img src = "/img/youtube.png" style="width: 20px;padding-top: 0px;margin: 0px;"/> <a href="https://www.youtube.com/channel/UC4aRhZpbWRGECh_Kr5wFIkA" style="margin-left: 15px;">Youtube</a></div>
            </div>
        </div>
    </div>
</div>
