                </div>
            </div>
        </div>
    </section>

    <!-- contact
    ================================================== -->
    <section id="contact" class="s-contact">

        <div class="row section-header" data-aos="fade-up">
            <div class="col-full">
                <h3 class="subhead subhead--light">Contact Us</h3>
                <h1 class="display-1 display-1--light">Lets get in touch and make something.</h1>
                <p>
                Rootkit Labs is proudly located in Basel, Switzerland. When we're not working on groundbreaking technology, we spend our time in the mountains skiing, mountain biking and rock climbing. Regardless of your organization's location, we are confident we can make our relationship work, do not hesitate to reach out! We are currently discounting projects relating to fighting BC's wildfires, reducing carbon emissions, improving the condition of indigenous peoples' and fighting the opioid epidemic.
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-full contact-main">
                <p>
                <a href="mailto:#0" class="contact-email">info@rootkitlabs.com</a>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-five tab-full contact-secondary" data-aos="fade-up">
                <h3 class="subhead subhead--light">Follow Us</h3>

                <ul class="contact-social">
                    <li>
                        <a href="https://www.youtube.com/@rootkitlabs"><i class="fab fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="https://github.com/o7-machinehum"><i class="fab fa-github"></i></a>
                    </li>
                    <li>
                        <a href="https://discord.gg/EtZT7mjNuM"><i class="fab fa-discord"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/machinehum"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/rootkitlabs/"><i class="fab fa-instagram"></i></a>
                    </li>
                    <li>
                        <a href="https://www.threads.net/@rootkitlabs"><i class="fab fa-threads"></i></a>
                    </li>
                </ul>
            </div>

        </div>
    </section>


    <!-- photoswipe background
    ================================================== -->
    <div aria-hidden="true" class="pswp" role="dialog" tabindex="-1">

        <div class="pswp__bg"></div>
        <div class="pswp__scroll-wrap">

            <div class="pswp__container">
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
                <div class="pswp__item"></div>
            </div>

            <div class="pswp__ui pswp__ui--hidden">
                <div class="pswp__top-bar">
                    <div class="pswp__counter"></div><button class="pswp__button pswp__button--close" title="Close (Esc)"></button> <button class="pswp__button pswp__button--share" title=
                    "Share"></button> <button class="pswp__button pswp__button--fs" title="Toggle fullscreen"></button> <button class="pswp__button pswp__button--zoom" title=
                    "Zoom in/out"></button>
                    <div class="pswp__preloader">
                        <div class="pswp__preloader__icn">
                            <div class="pswp__preloader__cut">
                                <div class="pswp__preloader__donut"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="pswp__share-modal pswp__share-modal--hidden pswp__single-tap">
                    <div class="pswp__share-tooltip"></div>
                </div><button class="pswp__button pswp__button--arrow--left" title="Previous (arrow left)"></button> <button class="pswp__button pswp__button--arrow--right" title=
                "Next (arrow right)"></button>
                <div class="pswp__caption">
                    <div class="pswp__caption__center"></div>
                </div>
            </div>
        </div>
    </div>


    <!-- preloader
    ================================================== -->
    <div id="preloader">
        <div id="loader">
        </div>
    </div>


    <!-- Java Script
    ================================================== -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/plugins.js"></script>
    <script src="js/main.js"></script>

</body>
</html>
