<!-- Navigation -->
<nav class="navbar navbar-default navbar-custom navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header page-scroll">
            <a class="navbar-brand" href="<%- config.root %>"><img src="/img/home-icon.png" alt="Homepage" style="width:60px;"></a>
            <!-- <a class="navbar-brand" href="<%- config.root %>"><%- theme.menu_title || config.title || "" %></a> -->
        </div>
    </div>
    <!-- /.container -->
</nav>
