<!-- Navigation -->
<nav class="">
    <a class="navbar-brand" href="<%- config.root %>"><img src="/img/home-icon.png" alt="Homepage" style="width:60px;"></a>
    <!-- <a class="navbar-brand" href="<%- config.root %>"><%- theme.menu_title || config.title || "" %></a> -->
    <!-- /.container -->
</nav>
